<%- include ('templates/header.ejs') %>

<%- include ('templates/nav.ejs') %>

    <main class="p-5">
        <h3 class="text-center"><%= blogs.title %></h3>
        <section class="container">
            <% blogs.forEach(elm=> { %>
                <article class="item">
                    <h1><%= elm.title %></h1>
                    <p><%= elm.date %></p>
                    <figure><img src="<%=  %>"></figure>
                    <p><%= elm.text %></p>
                </article>
                <% }) %>
                <a class="btn btn-secondary" href="/" role="button">Atrás</a>
    </section>
    </main>

    <%- include ('templates/footer.ejs') %>